body{
  margin: 0;
  font-family: 'Cardo', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color:#fff
}
*,
*:before
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

/* container
==================================================*/

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;

/* header
==================================================*/

}
.header {
  width: 100%;
  height: 100px;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1000;

}
.header__inner{
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*nav
===================================================*/

.nav {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__link{
  margin-left: 40px;
  color: #fff;
  text-decoration: none;
  opacity: .75;
  transition: opacity .1s linear;

}
.nav__link:first child{
  margin-left: 0;
}


.nav__link:hover{
  opacity: 1;
}
/*intro
====================================================*/

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 600px;
  padding-top: 240px;
  background: #000 url("images/tokyo1.png") no-repeat;

}

.intro__inner{
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
}

.intro__title{
  margin: 0 0 300px;
  font-family: 'Open Sans', sans-serif;
  font-size: 65px;
  line-height: 1.1px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.intro__subtitle{
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}
/*button
======================================================*/
.btn{
  font-family:inherit;
  display: inline-block;
  vertical-align: top;
  padding: 14px 40px;
  font-size: 2@px;
  color:#fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;

}

/*btn red
=======================================================*/
.btn--red{
background-color: #000000;
}

.btn--red:hover{
  background-color: #dd3434;
}

.btn--long{
  min-width: 280px;
}

/*Features
=================================================================*/
.features{

    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
    margin-left: 300px;
}


.features__item{
    padding: 0 40px;
    margin: 25px 0;
    width: 33.33333%;
    text-align: center;
}

.features__icon{
  margin-bottom: 25px;
}

.features__title{
  margin-bottom: 20px;

  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;

}

.features__text{
  font-size: 18px;
  line-height: 1.5;
  color: #6c7279;
}

/*works
========================================*/

.works{
    display: flex;
    flex-wrap: wrap;
}

.works__item{
  width: 25%;
  height: 430px;
  position: relative;
  overflow: hidden;
}

.works__item:hover .works__content{

  opacity: 1;

}
.works__photo{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}

.works__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;

background-color: rgba(232, 69, 69, 0.9);
opacity: 0;


  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  transition: opacity .2s linear;
}



.works__title{
  margin-bottom: 5px;

font-size: 14px;
font-weight: 700;
color:#fff;
text-transform: uppercase;
}
.works__text{
  font-size: 14px;
  color: #fff;
}









/*ppl
=============*/
.team{
  margin: 100px 0;
}

.team__inner{
  display: flex;
  flex-wrap: wrap;
}


.team__item{
  width: 25%;
}


.team__photo{
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.team__name{
  font-size: 22px;
  color: #2d3033;
  margin-bottom: 8px;
}

.team__prof{
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
  margin-bottom: 15px;

}
.team__text{
  font-size: 15px;
  line-height: 1.5;
  color: #6c7279;
}

/*social
==================*/
.social{
  display: flex;
}
.social--footer{
  justify-content: center;
}
.social__item:hover{
  background-color: #e8ecee;
}

.social__item:hover .social__icon{
  fill: #000;
}

.social__item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #e8ecee;
  margin-right: 4px;
  margin-bottom: 100px;
}

.social--footer .social__item{
  background-color:transparent;
  border-width: 2px;
  border-color: #fff;
  border-radius: 2px;

}
.social__icon{
  display: block;
  height: 18px;
  fill: #c6cacc;
  transition: fill .1s linear;
}

.social--footer .social__item:hover{
  background-color: #fff;
}

.social--footer .social__icon{
  fill: #fff;
}


/* review
========================== */

.reviews{
  overflow: hidden;
  background-color: #53354a;

}

.reviews__item{

  display: flex;
  flex-wrap: wrap;
}

.reviews__photo{
  width: 50%;
  height: 500px;
  position: relative;
}

.reviews__img{
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.reviews__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;

}

.reviews__text{
  margin-left: 10px;
  font-family: "Cardo", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 20px;
}

.reviews__author{
  font-size: 13px;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
}


/*download__title
======================*/
.download{
  text-align: center;
  margin: 90px 0;
}
.download__title{
  margin-bottom: 15px;
  font-size: 28px;
  color: #2d3033;
  font-weight: 300;

}
.download__subtitle{
  margin-bottom: 25px;
  font-size: 13px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: bold;

}

/*footer
===================*/
.footer{
  justify-content: center;
  padding: 70px 0;
  background-color: #3a3e64;
}
.footer__inner{
  display: flex;
  flex-wrap: wrap;
}

.footer__block{
  margin-left: 100px;
  padding: 0 15px;
 width: 33.33333%;
 text-align: center;
}
.footer___title{
  margin-right: 180px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.footer___title1{
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.footer__address{
  margin-right: 180px;
  line-height: 1.5;
  font-size: 14px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
}
.footer___text{
  margin-left: 100px;
  line-height: 1.5;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
/*WISHES
=======================*/

.esto{
  margin-top: 20px;
  margin-left: 170px;
}

.esto__text{
  margin-top: 20px
  margin-left: 230px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.esto__text1{
  margin-top: 20px;
  margin-left: 100px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.esto__text2{
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.esto__text3{
  margin-top: 20px;
  margin-left: -210px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.esto__text4{
  margin-top: 20px;
  margin-left: 200px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

/*aside
======================*/
.aside{
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
  }
